body {
    margin: 0;
    padding: 0;
    background-color:#000000;
}
.raleway-medium  {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
  }
  
  .raleway-light {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
  }
.carrusel-inner{
    height: 80vh;
}

  .card{
    background-color: #00b4db;
    color: white;
    
  }
  
  .text-color {
    color: white;
    padding: 5rem;
  }
  .text-start {
    color: white;
  }

  .fa-solid {
    background-color: #00b4db;
  }
  .mb-3 {
    color: white;
  }
  .text-center {
    color: white;
  }